<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revenant.shipper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wxapi.WXEntryActivity"></activity>
        <activity android:name=".base.BaseActivity"></activity>
        <activity android:name=".base.BottomBarActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".base.GuideActivity"></activity>
        <activity android:name=".ui.activity.InitActivity"></activity>
        <activity android:name=".ui.activity.NewMainActivity"></activity>
        <activity android:name=".ui.activity.MessageActivity"></activity>
        <activity android:name=".ui.activity.PersonalActivity"></activity>
        <activity android:name=".ui.activity.MineActivity"></activity>
        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.ImproveDriverInformationActivity"></activity>
        <activity android:name=".ui.activity.CustomerServiceActivity"></activity>
        <activity android:name=".ui.activity.SuggestionsActivity"></activity>
        <activity android:name=".ui.activity.NewsActivity"></activity>
        <activity android:name=".ui.activity.OrderActivity"></activity>
        <activity android:name=".ui.activity.EmptyCarManageActivity"></activity>
        <activity android:name=".ui.activity.PublishActivity"></activity>
    </application>

</manifest>